
@{
    ViewData["Title"] = "OrderError";
}

<h1>Sorry!!!</h1><br/>
<h2>Cannot Delete This Order</h2><br/>
<br/>
<h4>This order has been completed and is being or has been fulfilled.</h4><br/>
<br/>
<h4>Where would you like to go now?</h4>
<br/>
<br/>
<div>
    <a asp-action="Index">Back to My Orders</a>
</div>
<br/>
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>



